@font-face {
  font-family: 'script-font';
  font-style: normal;
  font-weight: 400;
  src: local('Sue Ellen Francisco '), local('SueEllenFrancisco'), url(http://themes.googleusercontent.com/static/fonts/sueellenfrancisco/v5/TwHX4vSxMUnJUdEz1JIgrrtXaZAN_aGv07JTA91X2HI.woff) format('woff');
}

BODY, HTML {
    height: 100%;
    margin: 0;
}

.misc_container {
    text-align: center;
}

.error {
    font-family: Verdana, sans-serif;
    padding: 20px 0;
}

#login_page {
    background: url('images/bg.jpg');
}

#login_page .misc_container {
    padding-top: 100px;
}

#login_page IMG {
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#login_page #password_input {
    padding: 5px;
    font-size: large;
    border: none;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    text-align: center;
    color: white;
    outline: none;
}

#login_page #password_input:focus {
    border: 2px solid white;
}

#login_page #password_submit {
    padding: 2px 10px;
    font-family: 'script-font';
    background: none;
    color: white;
    font-size: 2em;
    border: 0px solid white;
    background: rgba(255, 255, 255, .1);
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    top: 20px;
}

#login_page #password_submit:hover {
    background: rgba(255, 255, 255, .8);
    cursor: pointer;
    outline: none;
    color: #367ed2;
}

#404_page { }

#500_page { }
