<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
        <link rel = 'stylesheet' type = 'text/css' href = 'css/common_style.css'/>
        <title>T+T</title>
    </head>
    <body id = 'page_500'>
        <div class = 'misc_container center'>
            <div class = 'error'>Error 500</div>
            <img src = 'images/500.jpg' width = '225px'></img>
            <div class = 'error'>Something is broken.</div>
        </div>
    </body>
</html>
