<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='apple-mobile-web-app-capable' content='yes'/>
        <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
        <link rel='stylesheet' href='css/common_style.css'/>
        <link rel='stylesheet' href='css/reveal.min.css'/>
        <link rel='stylesheet' href='css/reveal.theme.css' id='theme'/>
        <!--[if lt IE 9]>
        <script src='js/html5shiv.js'></script>
        <![endif]-->
        <title>T+T</title>
    </head>
    <body id = 'index_page'>
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5G5SZQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5G5SZQ');</script>
        <div class='reveal container'>
            <div class='slides'>

                    <section>
                        <p>On November 22, 2014&nbsp;...</p>
                    </section>

                    <section>
                        <img src = 'images/tplust.png' alt = 't plus t'/>
                        <p>Theresa and Tom&nbsp;...</p>
                    </section>

                    <section>
                        <img src = 'images/knot.png' alt = 'knot'/>
                        <p>Tie the knot!</p>
                    </section>

                    <section>
                        <img src = 'images/swipe.png' alt = 'swipe'/>
                        <p>Swipe or use the arrows to have a look around!</p>
                    </section>

                    <section>
                        <img src = 'images/heart.png' alt = 'heart'/>
                        <p>We're getting hitched in Hamilton.</p>
                        <p><a href = 'https://goo.gl/maps/RiugG' target = '_blank'>Christ's Church Cathedral</a></p>
                    </section>

                    <section>
                         <img src = 'images/party.png' alt = 'party'/>
                         <p>Join us for the party!</p>
                         <p><a href = 'https://goo.gl/maps/fz3pv' target = '_blank'>Art Gallery of Hamilton</a></p>
                    </section>

                    <section>
                        <img src = 'images/hotel.png' alt = 'hotel'/>
                        <p>Spending the night? Check out the <a href = 'http://www.starwoodmeeting.com/book/MaderAndAyreWedding' target = '_blank'>Sheraton Hotel</a> in Hamilton.</p>
                    </section>

                    <section>
                        <img src = 'images/gift.png' alt = 'gift'/>
                        <p>We'd prefer your presence rather than presents...</p>
                    </section>

                    <section>
                        <img src = 'images/shopping.png' alt = 'shopping'/>
                        <p>...but if you just love to shop...</p>
                    </section>

                    <section>
                        <img src = 'images/idea.png' alt = 'idea'/>
                        <p>...here are some ideas:</p>
                        <ul>
                            <li><a href = 'travel' target = '_blank'>Marlin&nbsp;Travel</a></li>
                            <li><a href = 'http://giftregistry.hbc.com/grworks/prj/generic_online/jsp/common/grbookmark.jsp?retailerid=4&registryid=400118508564' target = '_blank'>Hudson's&nbsp;Bay</a></li>
                        </ul>
                    </section>

                    <section>
                        <img src = 'images/rsvp.png' alt = 'plane'/>
                        <p>Don't forget to <a href = '/rsvp' target = '_blank'>RSVP</a> before August&nbsp;1,&nbsp;2014.</p>
                    </section>

                    <section>
                        <img src='images/fini.png' alt='the end'>
                        <p>That's it for now! We'll post updates if anything changes.</p>
                    </section>

            </div>
        </div>
        <script src='js/head.min.js'></script>
        <script src='js/reveal.min.js'></script>
        <script>
            Reveal.initialize({
                controls :          true,
                progress :          true,
                mousewheel :        true,
                history :           true,
                center :            true,
                overview :          false,
                center :            true,
                touch :             true,
                loop :              false,
                rtl :               false,
                transition :        'linear',
                transitionSpeed :   'fast',
                dependencies :      [{src : 'js/classList.js', condition : function() { return !document.body.classList; }}]});
        </script>
        <a href = 'rsvp' class = 'ribbon' target = '_blank'>RSVP</a>
    </body>
</html>
