<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='apple-mobile-web-app-capable' content='yes' />
        <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
        <link rel='stylesheet' href='css/reveal.min.css'>
        <link rel='stylesheet' href='css/reveal.theme.css' id='theme'>
        <link rel='stylesheet' href='css/ribbon.css' id='theme'>
        <!--[if lt IE 9]>
        <script src='js/html5shiv.js'></script>
        <![endif]-->
        <title>T+T</title>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41244276-2', 'tnt-wedding.ca');ga('send', 'pageview');
        </script>
    </head>
    <body id = 'index_page'>
        <div class='reveal'>
            <div class='slides'>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px' data-autoslide='2000'>
                       <img src = 'images/heart_arrow.png' alt = 'heart with arrow'></img>
                       <p>On November 22, 2014</p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px' data-autoslide='1200'>
                        <img src = 'images/tplust.png' alt = 't plus t'></img>
                        <p>Theresa and Tom</p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px' data-autoslide='1200'>
                        <img src = 'images/knot.png' alt = 'knot'></img>
                        <p>TIE THE KNOT</p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                        <img src = 'images/swipe.png' alt = 'gift'></img>
                        <p class = 'details'>Swipe or use your keyboard to have a look around!</p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                        <p class = 'details'>We make things legal @ 2pm</p>
                        <img src = 'images/heart.png' alt = 'heart'></img>
                        <p class = 'details'>St. Peter's Anglican Church - Mississauga Ontario</p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                        <a href = 'https://goo.gl/maps/2oLN1' target = "_blank"><img src = 'http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=300x300&sensor=false&markers=43.543351,-79.659176' style = 'border: 5px solid white' alt = 'map'></img></a>
                        <p class = 'details'>Dundas St West &amp; Mississsauga Road</p>
                        <p class = 'details'>Mississauga Ontario</p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                         <p class = 'details'>The party starts @ 6pm sharp</p>
                         <img src = 'images/party.png' alt = 'party'></img>
                         <p class = 'details'>Art Gallery of Hamilton</p>
                    </section>

                     <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                        <a href = 'https://goo.gl/maps/fz3pv' target = "_blank"><img src = 'http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=300x300&sensor=false&markers=43.257412,-79.872176' style = 'border: 5px solid white' alt = 'map'></img></a>
                        <p class = 'details'>123 King Street West</p>
                        <p class = 'details'>Hamilton Ontario</p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                        <img src = 'images/hotel.png' alt = 'hotel'></img>
                        <p class = 'details'>If you're thinking about spending the night check out</p>
                        <br/>
                        <p class = 'details'><a href = 'http://homewoodsuites3.hilton.com/en/hotels/ontario/homewood-suites-by-hilton-hamilton-ontario-canada-YHMHWHW/maps-directions/index.html' target = "_blank">Homewood Suites</a> or <a href = 'http://www.sheratonhamilton.com/' target = "_blank">Sheraton Hotel</a> in Hamilton</p> 
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                        <img src = 'images/gift.png' alt = 'gift'></img>
                        <p class = 'details'>We'd prefer your presence rather than your presents. However, if you feel the need, here are some options...</p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                        <img src='images/vacation.png' alt='vacation'>
                        <p>
                            <ul>
                                <li><a href = 'http://www.crateandbarrel.ca/Gift-Registry/Guest/Find-Registry' target = "_blank">Crate and Barrel</a></li>
                                <li><a href = 'http://registry.sandals.com/' target = "_blank">Sandals</a></li>
                                <li><a href = 'http://www.google.com.com/' target = "_blank">Some Other Link</a></li>
                            </ul>
                        </p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                        <img src = 'images/rsvp.png' alt = 'plane'></img>
                        <p>Don't forget to <a href = '/rsvp' target = "_blank">RSVP</a> before Sept 1, 2014.</p>
                    </section>

                    <section data-background='images/bg.jpg' data-background-repeat='repeat' data-background-size='80px'>
                        <img src='images/fini.png' alt='the end'>
                        <p>c'est tout</p>
                    </section>

            </div>
        </div>
        <script src='js/head.min.js'></script>
        <script src='js/reveal.min.js'></script>
        <script>
            Reveal.initialize({
                controls :          true,
                progress :          true,
                mousewheel :        true,
                history :           true,
                center :            true,
                overview :          false,
                center :            true,
                touch :             true,
                loop :              false,
                rtl :               false,
                transition :        'linear',
                transitionSpeed :   'fast',
                dependencies :      [{src : 'js/classList.js', condition : function() { return !document.body.classList; }}]});
        </script>
        <a href = 'rsvp' class = 'ribbon' target = "_blank">RSVP</a>
    </body>
</html>
