<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='apple-mobile-web-app-capable' content='yes'/>
        <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
        <link rel='stylesheet' href='css/common_style.css'/>
        <link rel='stylesheet' href='css/reveal.min.css'/>
        <link rel='stylesheet' href='css/reveal.theme.css' id='theme'/>
        <!--[if lt IE 9]>
        <script src='js/html5shiv.js'></script>
        <![endif]-->
        <title>T+T</title>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41244276-2', 'tnt-wedding.ca');ga('send', 'pageview');
        </script>
    </head>
    <body id = 'index_page'>
        <div class='reveal'>
            <div class='slides'>

                    <section data-autoslide='2600'>
                        <p>On November 22, 2014</p>
                    </section>

                    <section data-autoslide='1500'>
                        <img src = 'images/tplust.png' alt = 't plus t'/>
                        <p>Theresa and Tom</p>
                    </section>

                    <section data-autoslide='1500'>
                        <img src = 'images/knot.png' alt = 'knot'/>
                        <p>TIE THE KNOT</p>
                    </section>

                    <section>
                        <img src = 'images/swipe.png' alt = 'swipe'/>
                        <p>Swipe or use your keyboard to have a look around!</p>
                    </section>

                    <section>
                        <img src = 'images/heart.png' alt = 'heart'/>
                        <p>We're getting hitched in Mississauga.</p>
                        <p><a href = 'https://goo.gl/maps/2oLN1' target = '_blank'>St. Peter's Anglican Church</a></p>
                    </section>

                    <section>
                         <img src = 'images/party.png' alt = 'party'/>
                         <p>The party continues in The Hammer!</p>
                         <p><a href = 'https://goo.gl/maps/fz3pv' target = '_blank'>Art Gallery of Hamilton</a></p>
                    </section>

                    <section>
                        <img src = 'images/hotel.png' alt = 'hotel'/>
                        <p>Spending the night? Check out the <a href = 'http://www.starwoodmeeting.com/book/MaderAndAyreWedding' target = '_blank'>Sheraton Hotel</a> in Hamilton.</p>
                    </section>

                    <section>
                        <img src = 'images/gift.png' alt = 'gift'/>
                        <p>We'd prefer your presence rather than presents.</p>
                    </section>

                    <section>
                        <img src = 'images/shopping.png' alt = 'shopping'/>
                        <p style = 'font-size: 1.4em'>... but if you just love to shop, we've assembled some ideas:</p>
                        <ul>
                            <li><a href = 'http://giftregistry.hbc.com/grworks/prj/generic_online/jsp/common/grbookmark.jsp?retailerid=4&registryid=400118508564'>Hudson's&nbsp;Bay</a></li>
                            <li><a href = 'http://en.wikipedia.org/wiki/Aye_aye'>option 2</a></li>
                            <li><a href = 'http://en.wikipedia.org/wiki/Turritopsis_dohrnii'>option 3</a></li>
                        </ul>
                    </section>

                    <section>
                        <img src = 'images/rsvp.png' alt = 'plane'/>
                        <p>Don't forget to <a href = '/rsvp' target = '_blank'>RSVP</a> before Sept 1, 2014.</p>
                    </section>

                    <section>
                        <img src='images/fini.png' alt='the end'>
                        <p>That's it for now! We'll post updates if anything changes.</p>
                    </section>

            </div>
        </div>
        <script src='js/head.min.js'></script>
        <script src='js/reveal.min.js'></script>
        <script>
            Reveal.initialize({
                controls :          true,
                progress :          true,
                mousewheel :        true,
                history :           true,
                center :            true,
                overview :          false,
                center :            true,
                touch :             true,
                loop :              false,
                rtl :               false,
                transition :        'linear',
                transitionSpeed :   'fast',
                dependencies :      [{src : 'js/classList.js', condition : function() { return !document.body.classList; }}]});
        </script>
        <a href = 'rsvp' class = 'ribbon' target = '_blank'>RSVP</a>
    </body>
</html>
