<!DOCTYPE html>
<html>
  <head>
    <link rel = 'stylesheet' type = 'text/css' href = 'template_style.css'/>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41244276-2', 'tnt-wedding.ca');ga('send', 'pageview');
    </script>
  </head>
  <body>
        <!--[if lte IE 7]>
            Please use a Browser newer than IE7
        <![endif]-->
        <!--[if gt IE 7]><!-->
        <div class = 'misc_container'>
            <form method='post' action = 'login' id = 'login_form'>
            <label for='password_input'>Super Secret Password:</label>
            <input id = 'password_input' type='password' name='pass' maxlength = '64' autofocus/>
            <input id = 'password_submit' type="submit" value="let me in"/></form>
        </div>
        <!--<![endif]-->
  </body>
</html>

<!-- This is by no means a secure login, so please be nice. Kemp and GDK I'm look at you!
                ___
             .'   `'.
            /   _    |
            #__/ \--/ \
           (,  \'/ \\'/        .----.
            |     -' |        /|     '--.
             \   '=  /        ||    ]|   `-.
             /`-.__.'         ||    ]|    ::|
          .-'`-.__ \__        ||    ]|    ::|
         /        ``  `.      ||    ]|    ::|
       _ |     \     \  \     \|    ]|   .-'
      / \|      \    |   \     L.__  .--'(
     |   |\      `.  |    \  ,---|_      \---------,
     |   | '.      './\    \/ .--._|=-    |_      /|
     |   \   '.      '.'. /`\/ .-'          '.   / |
     |   |     `'.     `;-:-;`)|             |-./  |
     |   /_       `'--./_  ` )/'-------------')/)  |
     \   | `""""----"`\//`""`/,===..'`````````/ (  |
      |  |            / `---` `==='          /   ) |
      /  \           /                      /   (  |
     |    '------.  |'--------------------'|     ) |
      \           `-|                      |    /  |
       `--...,______|                      |   (   |
              | |   |                      |    ) ,|
              | |   |                      |   ( /||
              | |   |                      |   )/ `"
             /   \  |                      |  (/
           .' /I\ '.|                      |  /)
        .-'_.'/ \'. |                      | /
        ```  `"""` `| .-------------------.||
                    `"`                   `"`
-->