<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
        <link rel = 'stylesheet' type = 'text/css' href = 'css/common_style.css'/>
        <title>T+T</title>
    </head>
    <body id = 'page_travel'>
        <div class = 'container'>
            <div class = 'center'>
                <img src = 'images/tree.png' alt = 'tree' width = '64px'>
            </div>
            <div>We have also registered at <a href = 'http://www.marlintravel.ca/travel-agencies/burlington/marlin-travel-42675'>Marlin Travel</a> in Burlington. Jacqueline is our friendly agent. She can take care of all the details!</div>
            <br/>
            <div>Email: jacqueline.hider at marlintravel.ca </div>
            <div>Phone: 905 632 4220</div>
         </div>
    </body>
</html>
