<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
        <link rel = 'stylesheet' type = 'text/css' href = 'css/common_style.css'/>
        <title>T+T</title>
    </head>
    <body id = 'page_travel'>
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5G5SZQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5G5SZQ');</script>
        <div class = 'container'>
            <div class = 'center'>
                <img src = 'images/tree.png' alt = 'tree' width = '64px'>
            </div>
            <div>We have also registered at <a href = 'http://www.marlintravel.ca/travel-agencies/burlington/marlin-travel-42675'>Marlin Travel</a> in Burlington. Jacqueline is our friendly agent. She can take care of all the details!</div>
            <br/>
            <div>Email: jacqueline.hider at marlintravel.ca </div>
            <div>Phone: 905 632 4220</div>
         </div>
    </body>
</html>
