<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
        <link rel = 'stylesheet' type = 'text/css' href = 'css/common_style.css'/>
        <title>T+T</title>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41244276-2', 'tnt-wedding.ca');ga('send', 'pageview');
        </script>
    </head>
    <body id = 'page_travel'>
        <div class = 'container'>
            <div class = 'center'>
                <img src = 'images/tree.png' alt = 'tree'>
            </div>
            <div>We have also registered at Marlin Travel in Burlington. Unfortunately they don't have an online interface. Jacqueline is our agent, who can take care of everything.</div>
            <br/>
            <div>Email: jacqueline.hider at marlintravel.ca </div>
            <div>Phone: 905 632 4220</div>
         </div>
    </body>
</html>
