@font-face {
  font-family: 'paragraph';
  font-style: normal;
  font-weight: 400;
  src: local('Sue Ellen Francisco '), local('SueEllenFrancisco'), url(http://themes.googleusercontent.com/static/fonts/sueellenfrancisco/v5/TwHX4vSxMUnJUdEz1JIgrrtXaZAN_aGv07JTA91X2HI.woff) format('woff');
}

BODY, HTML {
    height: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     cursor: default;
}

.center {
    text-align: center;
}

.error {
    font-family: Verdana, sans-serif;
    padding: 20px 0;
}

.container a {
  color: #0DE5F8;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; 
}

.container a:not(.image):hover {
  color: #71e9f4;
  text-shadow: none;
  border: none; 
}

#page_login, #page_rsvp, #page_travel, #page_upload {
  background: -moz-radial-gradient(center, circle cover, #3572AF 0%, #0E3D6D 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3572AF), color-stop(100%, #0E3D6D));
  background: -webkit-radial-gradient(center, circle cover, #3572AF 0%, #0E3D6D 100%);
  background: -o-radial-gradient(center, circle cover, #3572AF 0%, #0E3D6D 100%);
  background: -ms-radial-gradient(center, circle cover, #3572AF 0%, #0E3D6D 100%);
  background: radial-gradient(center, circle cover, #3572AF 0%, #0E3D6D 100%);
  background-color: #3572AF; 
}

#page_login .container {
    padding-top: 25px;
}

#page_login IMG {
    width: 100px;
}

#page_login #password_input {
    padding: 5px;
    font-size: large;
    border: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    color: white;
    outline: none;
    margin: 42px 0; 
}

#page_login #password_input:focus {
    border: 2px solid white;
}

#page_login #password_submit {

}

#page_login #password_submit:hover {
    cursor: pointer;
    background-position-y: -62px;
}

#page_rsvp, #page_travel, #page_upload {
    font-family: 'paragraph';
    color: white;
    font-size: 1.85em;
}

#page_rsvp .container, #page_travel .container, #page_upload .container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#page_rsvp UL, #page_upload UL {
    margin: 5px; padding: 5px; 
}

#page_rsvp LI, #page_upload LI {
    list-style-type: none;
}

#page_rsvp HR {
    border: 1px dashed #CCC;
}

#page_rsvp DIV, #page_travel DIV {
    padding: 5px;
}

#page_rsvp LABEL, #page_upload LABEL {
    display: block; 
}

#page_rsvp INPUT[type=text], #page_rsvp SELECT, #page_upload INPUT[type=text] {
    height: 40px;
    width: 100%;
}

#page_login INPUT[type=submit], #page_rsvp INPUT[type=submit], #page_upload BUTTON[type=submit] {
    font-weight: bold;
    width: 100px;
    height: 50px;
}


.ribbon {
    position: fixed;
    padding: 5px 45px;
    width: 123px;
    color: #fff;
    font-size: 1em;
    font-family: 'paragraph', sans-serif;
    text-decoration: none;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,.3);
    top: 50px;
    right: -50px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    background: rgb(76, 113, 158);
    z-index: 2;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}