
.ribbon {
    position: fixed;
    padding: 5px 45px;
    width: 123px;
    background-color: #B12C0B;
    color: #fff;
    font-size: 1em;
    font-family: 'Verdana', sans-serif;
    text-decoration: none;

    -webkit-backface-visibility: hidden;
    border: 2px dotted #fff;
    box-shadow: 0 5px 20px 0px rgba(0,0,0,.5);
    text-shadow: 0 0 0 #fff, 0 0 5px rgba(0,0,0,.3);
    top: 50px;
    right: -50px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
}